<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4"><h1>My Family <%= link_to '', new_baby_path, :class => "btn btn-primary btn-fab btn-raised mdi-social-person-add"%></h1></div>
  <div class="col-xs-6 col-md-4"><h1></h1></div>
</div>





<div class="row">


  <% @babies.each do |baby| %>
    <%= render partial: 'baby_card', locals: {my_baby: baby} %>
  <% end %>

</div>


