// Place all the styles related to the Babies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  border-radius: 50%;
  height: 200px;
}

.form {
  text-align: center;
}

h1 {
  text-align: center;
}

.baby-container {
  text-align: center;
  border: 2px solid;
  border-color: grey;
  padding: 10px 10px 10px 10px;
  margin: 20px 10px;
}