// Place all the styles related to the Babies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  border-radius: 50%;
  height: 200px;
  border: 2px solid;
  border-color: rgba(217,214,209, 1);
}

.form {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "sans-serif"
}

.baby-container {
  text-align: center;
  border-color: grey;
  font-family: "helvetica";
  padding: 10px 10px 10px 10px;
  margin: 20px 10px;

  #baby_card {
    background-color: rgba(243,248,243,1);

  }

  #photo_count {
    margin: 10px 0px 5px 0px;
  }
}

.baby_info {
  text-align: left;
  margin-left: 10px;
}



.letter {
  border: solid 2px;
  border-color: grey;
}

.letter-buttons {
  float: right
}

.image {
  padding: 2px;
}

button.letter-buttons {
  display: none; /* Hide button */
}

.divbutton:hover button {
   display: block; /* On :hover of div show button */
}

