// Place all the styles related to the Babies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  border-radius: 50%;
  height: 200px;
  border: 2px solid;
  border-color: rgba(217,214,209, 1);
}

#baby_form{
  padding: 0px 0px 3px 0px;
  font-size: 13px;
  text-align: left;
}
.btn-warning.btn-flat:not(.btn-link) {
  padding: 0px 0px 0px 0px;
}

#gender_select{
  margin-bottom: 0px;
  text-align: left;
}

h1 {
  text-align: center;
  font-family: "sans-serif"
}

.baby-container {
  text-align: center;
  border-color: grey;
  font-family: "helvetica";
  padding: 10px 10px 10px 10px;
  margin: 20px 10px;

  #baby_card {
    background-color: rgba(243,248,243,1);

  }

  #photo_count {
    margin: 10px 0px 5px 0px;
  }
}

#new_baby_headline{
  margin-bottom: 20px;
  font-size: 24px;
}

.baby_info {
  text-align: left;
  margin-left: 10px;
}

a.file-input-wrapper{
  margin: 10px 10px 10px 10px;
}

.datepicker {
  max-width: 40%;
}

.letter-box.form-group {
  margin: 100px 30px 100px 50px;
}



#letter-content {
  height: 150px;
}

#letter_content {
  height: 150px;
}

.letter-pad {
  background-image: url('NoteBookPaper.png');
  background-repeat: no-repeat;
  height: 400px;
  padding: 70px 90px 70px 70px;
}

.polaroid {
  background-image: url('polaroid.png');
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 80px;
  margin-top: 80px;

  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}


/*====================================
 Free To Use For Personal And Commercial Usage
Author: http://binarytheme.com
 License: Open source - MIT
 Please visit http://opensource.org/licenses/MIT for more Full Deatils
 Share Us if You Like Us and Enjoy Our Codes For Free Always.
======================================*/


/*=======================================
    GENERAL STYLES
==================================================*/
body {
        background-color:#4FD2E4;
          font-family:'Open Sans', sans-serif;
    font-size:14px;
}

.nav a {
    color:#ffffff !important;
}
.navbar-header a {
    color:#ffffff !important;
    padding-right:100px;
}

.text-center {
    text-align:center;
}

.top-pad {
    padding-top:70px;
}
.top-margin {
    margin-top:90px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}
h1 {

    font-weight:700;
    font-size:50px;
    color:#1fa51f; /* green color code */
}

p {
    font-weight:400;
    line-height:29px;
    padding-bottom:50px;
}
.margin-bot {
    margin-bottom:50px;
}

/*!
 *   AdminLTE v1.0
 *   Author: AlmsaeedStudio.com
 *   License: Open source - MIT
 *  Please visit http://opensource.org/licenses/MIT for more information
!*/
/*

/*====================================
  --- TIMELINE LIKE ABOUT SECTION CSS ----
======================================*/

.timeline {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 5px;
  background: #ddd;
  left: 45px;
  border: 1px solid #eee;
  margin: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.timeline > li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .images-container {
  margin-top: 10px;
  border: 0px solid #dfdfdf;
  background-repeat: no-repeat;
  color: #555;
  margin-left: 60px;
  margin-right: 15px;
  padding: 5px;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 75%;
}

.timeline > li > .letter-preview {
  margin-top: 10px;
  border: 0px solid #dfdfdf;
  background-image: url('letter-preview-background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  color: #555;
  margin-left: 60px;
  margin-right: 15px;
  padding: 50px;
  position: relative;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 75%;
}

.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  margin: 2px 0 0 0;
}
.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 1px solid #f4f4f4;
  padding: 5px;
  font-size: 16px;
  line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header > a {
  font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
  padding: 10px;
}
.timeline > li.time-label > span {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #eee;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}


/*====================================
  --- BACKGROUND COLORS OPTIONS ----
======================================*/

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #37AFFF !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}

/*====================================
  --- TEXT COLORS OPTIONS ----
======================================*/

.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}
