.navbar-brand {
  font-size: 20px;
  margin-top: 9px;
  margin-right: 10px;
}

#navbar-icon {
  padding-right: 2px;

  .avatar {
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 0px;
  }

  .avatar_url {
    padding: 14px 7px 14px 7px;
    font-size: 25px;
  }
}

.navbar_url {
  font-size: 15px;
  margin-top: 9px;
}


.navbar {
  font-family: "janda";
}