.scrollToTop{
  width:50px;
  height:50px;
  padding:2px;
  text-align:center;
  background: rgba(0,0,0,0);
  font-weight: bold;
  text-decoration: none;
  position:fixed;
  bottom:20px;
  right:20px;
  display:none;
  background-image: url(image-path('arrowup.png'))
}
.scrollToTop:hover{
  text-decoration:none;
}

.scrollToTop:hover
{
    background-color: transparent;
}
.scrollToTop:hover a
{
    color: transparent;
}
