.nav.nav-pills.nav-justified {
  margin-bottom: 20px;
}

h2.userSetting {
  text-align: center;
}

.deleteAccount {
  text-align: center;
}

#mosaic
{
  background-image: url('bottom.png');
}

#mosaic span.hover
{
  float: left;
  background-image: url('top.png');
}